[submodule "ext/spdx/license-list-data"]
	path = ext/spdx/license-list-data
	url = https://github.com/spdx/license-list-data.git
[submodule "ext/github/linguist"]
	path = ext/github/linguist
	url = https://github.com/github/linguist.git
